@charset "ISO-8859-1";

body, html {
  height: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.topnav {
  overflow: hidden;
  background-color: #f8f9fb;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e3ecfb;
  color: black;
}

.topnav a.active {
  color: black;
  font-weight: bold;
}

.topnav-right {
  float: right;
}

.hero-image {
  background-image: url("images/4.png");
  height: 90%;
  background-position: right bottom;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 27%;
  transform: translate(-50%, -50%);
}

.hero-text a {
  text-decoration: none;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  font-size:30px;
}

.hero-text a:hover {
  background-color: #555;
  color: white;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left {
  position: absolute;
  top: 150px;
  left: 300px;
}

/* Style the footer */
.footer {
  background-color: #e3ecfb;
  padding: 10px;
  text-align: center;
}
